.header {
    padding: 10px 16px;
    list-style: none;
    color: lavender;
    text-align: right;
}


ul {
    margin-top: 0px;
}

.element::-webkit-scrollbar { width: 0 !important }

li {
    display: inline-block;
    padding-right: 16%;
   margin: 10px auto;
}

a:-webkit-any-link {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: lavender;
    font-size: 30px;
    
}

/* Headers hover for the buttons */
a:hover {
    color: #3FD2A3;
}

.home {
    padding-right: -200px;
    margin-top: 120px;
    margin-bottom: 20px;
}

section header {
    margin-top: 0px;
    font-size: 62px;
    margin-bottom: 20px;
}

section {
    text-align: center;
    padding: 8%;
    
}

section .button {
    font-family: 'Roboto';
    font-size: 24px;
    color: rgb(78, 100, 79);
    background: #10be8a;
    display: inline-flex;
    padding: 6px;
    margin-top: 30px;
    margin-right: 1%;
    margin-left: 1%;
    border: none;
    border-radius: 5px;
    
}

section .button:hover {
    background: white;
}

::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
    height: 100%;
    margin: auto;
  }

body {
    margin: 0px;
    height: 100%;
    font-family: 'Amaranth';font-size: 22px;
    background-color: rgb(58, 168, 113);
    color: lavender;
}

.aboutMe {
    margin-top: 500px;
    height: 500;
}

.InfoAbout {
    text-align: center;
    padding: 200px;
    border-style: solid;
    border-radius: 20px;
    background-color: #10bea8;
    font-size: 40px;
}

.contact {
    margin-top: 20px auto;
}

.plugins {
    margin-top: 100px;
    /*margin-bottom: 100px;*/
    text-align: center;
    font-size: 50px;
}

.borderPlugins {
    background-color: #10be8a;
    margin-top: 200px;
    text-align: left;
    border-style: solid;
    border-radius: 20px;
    margin-bottom: 20px;
    
}

.pluginsName {
    border-style: solid;
    padding: 20px;
    text-align: center;
}

.pluginsName:hover {
    background-color: #10bea8;
}

section div {
    font-size: 30px;
    line-height: 36px;
    text-align: left;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    
}

.logos {
    clear: both;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}


.logos figure {
    display: inline-block;
    width: auto;
    margin: 0 auto;
    padding: 10px;
    padding-top: -100px;
    margin: 2px;
    margin-top: 0px;
    position: relative;
    top: -200px;
}

figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

.logos figure img {
    width: 50px;
    height: 50px;
}

.footer {
    background-color: rgb(61, 56, 56);
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    border-top: solid;
    border-color: chartreuse;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* STYLES GO HERE */
}
 
/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* STYLES GO HERE */
}
 
/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* STYLES GO HERE */
}
 
/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* STYLES GO HERE */
}
 
/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* STYLES GO HERE */
}
 
/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* STYLES GO HERE */
}
 
/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* STYLES GO HERE */
}
 
/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* STYLES GO HERE */
}
 
/* iPhone 5 (portrait &amp; landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
/* STYLES GO HERE */
}
 
/* iPhone 5 (landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {
/* STYLES GO HERE */
}
 
/* iPhone 5 (portrait)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
/* STYLES GO HERE */
}
