/* Remove all padding and margin of everything */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(65, 61, 61);
}

/* Remove the scrolling thingy */
::-webkit-scrollbar {
  display: none;
}

/* Everything in main shall have this font */
main {
  font-family: 'Heebo', sans-serif;
}

/* The header */
.header {
  overflow: hidden;
  background-color: rgb(65, 61, 61);
  position: relative;
  top: 0;
  padding: 20px 10px;
}

/* Buttons like about */
.header a {
  float: left;
  background-color: rgb(65, 61, 61);
  color: rgb(190, 188, 188);
  padding: 15px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 20px;
}

/* The name of this company ig */
.header h1#nameDomain {
  float: left;
  background-color: rgb(65, 61, 61);
  color: rgb(190, 188, 188);
  padding: 15px;
  font-size: 23px;
}

/* Move the a elements to the right. */
.header-right {
  float: right;
}

/* When you hover they glow */
.header a:hover {
  background-color: #ddd;
}

/* Intro text */
.big-text {
  font-size: 5rem;
  font-family: 'Lobster', cursive;
  color: rgb(104, 180, 127);
}

/* Contains .big-text and .intro-text */
.information {
  position: relative;
  text-align: center;
  margin-top: 10%;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
}

/* The sub for .big-text */
.intro-text {
  font-size: 1rem;
  color: rgb(154, 185, 163);
}

/* For coming soon */
.container {
  font-size: 2rem;
  color: whitesmoke;
  text-shadow: 0 0 3px #4fe2cf, 0 0 5px #e74de7;
  text-align: center;
}

/* Coming soon thingy */
#box-green {
  background-color: rgb(104, 180, 127);
  box-shadow: 10px 10px rgb(206, 212, 208);
  border-radius: 10px;
  margin-top: 40px;
  margin-right: 40%;
  margin-left: 40%;
}

/* Big text that says about */
#about {
  margin-top: 3%;
  text-align: center;
  color: whitesmoke;
  text-shadow: 0 0 3px #72eb7c, 0 0 5px #df69df;
}

#repos-text {
  margin-top: 3%;
  text-align: center;
  color: whitesmoke;
  text-shadow: 0 0 3px #72eb7c, 0 0 5px #df69df;
}

/* A flexbox for about */
.flexbox-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

/* for About  */
.flexbox {
  padding: 5px;
  min-height: 200px;
  width: 500px;
  margin: 10px;
  background-color: rgb(63, 75, 63);
  box-shadow: 10px 10px rgb(38, 39, 38);
  color: rgb(203, 206, 173);
}

.flexbox a {
  color: rgb(149, 229, 153);
  text-decoration: none;
  background-color: rgb(63, 75, 63);
}

.flexbox a#contacts {
  color: rgb(203, 206, 173);
  text-decoration: none;
  background-color: rgb(63, 75, 63);
}

.flexbox-repo {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.flexbox1 {
  padding: 5px;
  min-height: 200px;
  width: 300px;
  margin: 10px;
  background-color: rgb(63, 75, 63);
  box-shadow: 10px 10px rgb(38, 39, 38);
  color: rgb(203, 206, 173);
}

.flexbox1 a {
  color: rgb(149, 229, 153);
  text-decoration: none;
  background-color: rgb(63, 75, 63);
}

/* For payments methods */
.payments {
  margin-top: 10px;
  text-align: center;
  font-size: 1rem;
  color: whitesmoke;
  text-shadow: 0 0 3px #72eb7c, 0 0 5px #df69df;
}

/* Paypal logo */
.paypal-logo {
  margin: 0%;
  text-align: center;
}

.paypal-logo:hover {
  cursor: pointer;
}

footer {
  margin-top: 40px;
}

footer p {
  background-color: rgb(73, 68, 68);
  text-align: center;
  padding: 10px;
  color: white;
}

footer a {
  background-color: rgb(73, 68, 68);
  text-decoration: none;
  color: rgb(149, 229, 153);
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgb(63, 75, 63),
    rgba(149, 229, 163, 0.822),
    rgb(63, 75, 63)
  );
}

/* For mobile users */
@media screen and (max-width: 462px) {
  .header h1#nameDomain {
    padding: 15px;
    font-size: 15px;
  }

  .header a {
    float: left;
    padding: 15px;
    text-decoration: none;
    font-size: 10px;
    line-height: 25px;
    border-radius: 20px;
  }

  #box-green {
    margin-top: 40px;
    margin-right: 20%;
    margin-left: 20%;
  }
}
